body{
	background:#F5F5DC;
	font-family: 'Quicksand', sans-serif;
	
}
.categorie{
	display :block;
	width: 150px;
	color: #DC143C;
	font-family :Comic Sans MS, Comic Sans, cursive;
	font-style:italic;
	border : 5px white double;
	margin:25px;
	padding:25px;
background: rgb(255, 255, 255, 0.5);}



/*TITRE DU FORMULAIRE*/
.grandtitre{
	display:flex;
	background-color: rgb(0,139,139);
	color: #F5F5DC;
	font-family: 'Quicksand', sans-serif;
	text-align :center;
	border: 15px double;
	padding:10px 40px;
	margin:auto;
}
.banner{
	background-color:#8B008B;
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	color:#F5F5DC;
}

/*INTRODUCTION DU SITE*/
.introduction{
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	border-radius: 10px;
	font-style:italic;
}

/*TITRE DES PARTIES DU FORMULAIRE*/
legend{
	font-style:italic;
}

/*QUESTIONS/REPONSES FORMULAIRE*/
.questions{
	text-decoration: underline #8B008B;
	font-family: Comic Sans MS, Comic Sans, cursive;
}
.reponses{
	border-radius:30px ;
	background-color:grey;
	color:#F5F5DC;
	padding:10px;
	margin: 25px;
}
/*CONDITIONS*/
.conditions{
	text-align:left;
	font-family: Comic Sans MS, Comic Sans, cursive;
	background-color:rgb(139,0,139,0.5);
}
/*REPONSES DU QUESTIONNAIRE*/
.res{
	text-decoration: #8B008B;
	font-family: Comic Sans MS, Comic Sans, cursive;
	margin:auto;
	display:block;
}
.jauge{
	text-decoration: #8B008B;
	font-family: Comic Sans MS, Comic Sans, cursive;
	margin:auto;
	
	display:inline-block;
	width:80%;
}
.jaugeV{
	text-decoration: #8B008B;
	font-family: Comic Sans MS, Comic Sans, cursive;
	height:40em;
	display:block;
	margin:auto;
	text-align:center;
}

/*BUGS/"MALICES"*/
.banner666{
	background-color:#DC143C;
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	color:#F5F5DC;
}
.grandtitre666{
	display:flex;
	background-color: #DC143C;
	color: #F5F5DC;
	font-family: 'Quicksand', sans-serif;
	text-align :center;
	border: 15px double;
	padding:10px 40px;
	margin:auto;
}
.reponses666{
	border-radius:30px 20px 10px 1000px;
	background-color:#DC143C;
	color:#F5F5DC;
	padding:10px;
	margin: 25px;
}
.res666{
	color:#DC143C;
	text-decoration: #DC143C;
	font-family: Comic Sans MS, Comic Sans, cursive;
	margin:auto;
	display:block;
}
.background666{
	background-image:url("../images/TVSCREEN.jpg");
	opacity:0.8;
	background-repeat:no-repeat;
	background-position: center;
    background-size: cover;
}
/*DERNIERE VERSION DES "MALICES"*/
.background13{
	background:black;
	color:#F5F5DC;
	font-family: monospace;
	font-style: bold;
}
.banner13{
	background-color:grey;
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	color:#F5F5DC;
}
.introduction13{
	text-align:center;
	font-family: monospace;
	border-radius: 10px;
	font-style:italic;
}
.grandtitre13{
	display:flex;
	background-color: rgb(0,139,139,);
	color: #F5F5DC;
	font-family: monospace;
	text-align :center;
	border: 15px double;
	padding:10px 40px;
	margin:auto;
}
.pol1{
	font-family: Georgia, serif;
	font-style: italic;
}
.pol2{
	font-family: cursive;
	font-style: oblique 20deg;
	font-variant: small-caps slashed-zero;
}
.pol3{
	font-family: monospace;
	font-style: bold;
	text-decoration: underline wavy #DC143C ;
}
.pol4{
	font-family: math;
}
#cadre{
	border: 10em solid black;
}

.def {
	text-align : center ;
	size : 28px ;
}

.images {
	display : block ;
	margin : auto ;
	border : 7px solid #8B008B;
	width : 700px ;
}